* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.container{
  max-width: 1180px;
  margin: 0 auto;
}
header {
  border-bottom: 1px solid #e5e5e5;
}
.navigation-bar h1 {
  display: inline-block;
  font-size: 0;
  width: 44px;
  height: 41px;
  padding: 0;
  float: left;
  margin: 40px 0 50px;
}
.navigation-bar span {
  font-size: 0;
}
.navigation-bar__links {
  float: left;
  width: 40%;
}
.navigation-bar__links .active{
  border-bottom: 2px solid #222222;
}
.navigation-bar__links h2{
  font-size: 0;
}
.navigation-bar__links ul {
  display: inline-block;
  list-style: none;
  margin: 53px 25px 50px;
  padding: 0;
}
.navigation-bar__links li {
  display: inline-block;
  margin: 0 25px 0 0;
}
.navigation-bar__links a, .navigation-bar__actions a {
  text-decoration: none;
  color: #676767;
  vertical-align: top;
}
.navigation-bar__actions {
  float: right;
  width: 40%;
}
.navigation-bar__actions ul{
  list-style: none;
  margin: 53px 0 50px;
  padding: 0;
  float: right;
}
.navigation-bar__actions li{
  display: inline-block;
  vertical-align: top;
  float: left;
}
.navigation-bar__actions li + li {
  margin: 0 0 0 50px;
}
.navigation-bar__actions__user-log-in:before, .navigation-bar__actions__user-basket:before {
    position: relative;
    right: 5px;
  }
.navigation-bar__actions__user-log-in:before {
  content: url("../images/user.png");
}
.navigation-bar__actions__user-basket:before {
  content: url("../images/basket.png");
}
.navigation-bar__action__search {
  background: #fff url("../images/search.png") 50% 50% no-repeat;
  height: 45px;
  width: 45px;
  border: 2px solid #959595;
  position: relative;
  top: -13px;
  font-size: 0;
}
.main-content {
  margin: 149px 0 0;
  padding-bottom: 146px;
  text-align: center;
  border-bottom:1px solid #959595;
}
.main-content h1 {
  color: #303030;
  text-transform: uppercase;
  font-size: 72px;
  margin: 0;
  padding: 0;
}
.main-content__line {
  font-size: 24px;
  color: #818181;
}
.main-content__link {
  border: 1px solid #959595;
  border-radius: 2px;
  padding: 23px 40px;
  margin-top: 67px;
  display: inline-block;
  font-size: 14px;
  background: #606060;
}
.main-content a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.sign-up {
  margin: 146px 0;
  text-align:center;
}
.sign-up h1 {
  text-transform: uppercase;
  color:#303030;
  font-size: 36px;
}
.sign-up p {
  color:#949494;
  font-size: 18px;
}
.sign-up__form {
  width: 50%;
  margin: 60px auto 0;
}
.sign-up__form__email {
  width: 470px;
  line-height: 56px;
  padding-left: 15px;
  color: #606060;
  font-size: 14px;
  float: left;
  border: solid 1px #949494;
}
.sign-up__form .submit {
  height: 60px;
  width: 98px;
  background-color: #f68236;
  border: none;
  color: #fef7f2;
  font-size: 14px;
  float: left;
}
footer {
  border-top:1px solid #959595;
}
footer ul {
  display: inline-block;
  padding: 0;
}
footer h2 {
  color:#9e9e9e;
  font-size: 14px;
  text-transform: uppercase;
  font-style: bold;
}
.footer-container__block {
  float: left;
  width: 25%;
}
.footer-container {
  margin: 60px 0;
}
.footer-container h1{
  font-size: 0;
}
.footer-container__block ul {
  list-style: none;
  margin: 0;
}
.footer-container__block a, .footer-container__block p {
  text-decoration: none;
  font-size: 12px;
  color:#757575;
}
ul.footer-container__social-links {
  margin-top: 10px;
}
.footer-container__social-links li + li {
  margin-left: 20px;
}
.footer-container__social-links li {
  display: inline-block;
  background-color: #606060;
  height:40px;
  width: 40px;
  text-align: center;
  border: 1px solid #606060;
  float: left;
}
.footer-container__social-links img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/*
  category-list.html
*/
.categories h1 {
  font-size: 0;
}
.categories__sub-category{
  text-align: center;
  margin: 80px 0;
}
.categories__sub-category h2{
  color: #3e3e3e;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0 0 0;
  text-transform: uppercase;
}
.categories__sub-category__show-more{
  font-size: 18px;
  font-style: italic;
  color: #606060;
}
.categories__sub-category__show-more:after{
  content: url("../images/show-more-arrow.png");
  position: relative;
  top: 3px;
  left: 5px;
}
.categories__sub-category__list{
  list-style: none;
  width: 1160px;
  margin: 0 auto;
  padding: 70px 0;
}
.categories__sub-category__list li{
  float:left;
  width: 25%;
}
.categories__sub-category__list img{
  border: 2px solid #e5e5e5;
}
.categories__sub-category__list a{
  text-decoration: none;
}
.categories__sub-category__list p, ..categories__sub-category__list span {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: bold;
}
.categories__sub-category__list p {
  color: #303030;
}
.categories__sub-category__list span{
  color: #7c7c7c;
}


/* breadcrumbs */
.breadcrumbs h1 {
  font-size: 0;
}
.breadcrumbs ul {
  list-style: none;
  padding: 0;
}
.breadcrumbs li {
  float: left;
}
.breadcrumbs a {
  text-decoration: none;
  text-transform: uppercase;
  color: #b5b5b5;
  font-size: 12px;
}
.breadcrumbs li +li {
  margin-left: 30px;
}
.breadcrumbs li +li:before {
  content: "/";
  position: relative;
  right: 10px;
  font-size: 12px;
  color: #b5b5b5;
}

/*purchase
*/
.shipping-address {
  width: 580px;
  margin: 0 auto;
}
.shipping-address h1 {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 36px;
}
.shipping-address h1, .shipping-address p, .shipping-address__address-confirmation {
  text-align: center;
}
.shipping-address p {
  color: #757575;
  font-style: italic;
  font-size: 18px;
}
.shipping-address label {
  display: block;
  text-transform: uppercase;
  padding: 0 0 5px 0;
}
.shipping-address__address-confirmation label {
  text-transform: capitalize;
  display: inline-block;
}
.shipping-address input:not([type="checkbox"]),
 .shipping-address select {
  height: 40px;
  line-height: 40px;
  background-color: transparent;
  border: 1px solid;
}
.shipping-address__delivery select, .shipping-address__line1 input, .shipping-address__line2 input {
  width: 580px;
}
.inline-inputs-1, .inline-inputs-2, .shipping-address__address-confirmation {
  padding: 25px 0;
}
.inline-inputs-2 input {
  width: 280px;
}
.inline-inputs-2 div:first-child{
  float: left;
}
.inline-inputs-2 div:last-child{
  float: right;
}
.shipping-address form {
  margin: 60px 0 45px 0;
  border-color: #c2c2c2;
  color: #8a8a8a;
  font-size: 12px;
}
.shipping-address form input {
  padding-left: 5px;
}
.shipping-address p:first-letter {
  text-transform: uppercase;
}

/*grid*/
.row{
  width: 100%;
  margin: 0;
}

.table-row {
  height: 144px;
}

.table-row div, .shopping-bag-grid .row-subtotal div{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.col-1 {
  width: 8.33333333333%;
  float: left;
}
.col-2 {
  width: 16.6666666667%;
  text-align: center;
  float: left;
}
.col-3 {
  width: 25%;
  float: left;
}
.col-4 {
  width: 33.3333333333%;
  float: left;
}
.col-5 {
  width: 41.6666666667%;
  float: left;
  margin: 0;  
}
.col-6 {
  width: 50%;
  float: left;
}
.col-7 {
  width: 58.3333333333%;
  float: left;
}
.col-8 {
  width: 66.6666666667%;
  float: left;
}
.col-9 {
  width: 75%;
  float: left;
}
.col-10 {
  width: 83.3333333333%;
  float: left;
}
.col-11 {
  width: 91.6666666667%;
  float: left;
}
.col-12 {
  width: 100%;
  float: left;
}
.col-1-offset{
  margin-left: 8.33333333333%;
}
.col-2-offset {
  margin-left: 16.6666666667%;
}
.col-3-offset {
  margin-left: 25%;
}
.col-4-offset {
  margin-left: 33.3333333333%;
}
.col-5-offset{
  margin-left: 41.6666666667%;
}
.col-6-offset {
  margin-left: 50%;
}
.col-7-offset {
  margin-left: 58.3333333333%;
}
.col-8-offset {
  margin-left: 66.6666666667%;
}
.col-9-offset {
  margin-left: 75%;
}
.col-10-offset {
  margin-left: 83.3333333333%;
}
.col-11-offset {
  margin-left: 91.6666666667%;
}
.col-12-offset {
  margin-left: 100%;
}

.shopping-bag-grid .col-5 {
  padding-left: 25px;
}

.shopping-bag-grid .row {
  border-bottom: solid 1px #e5e5e5;
}
.shopping-bag-grid .row p {
  color: #aeaeae;
  text-transform: uppercase;
  font-size: 12px;
}
.shopping-bag-grid .table-row p {
    color: #303030;
    font-size: 14px;
}
.shopping-bag-grid .table-row .col-2 p {
  text-transform: capitalize;
}
.shopping-bag-grid .table-row .col-5 p {
  font-weight: bold; 
  font-size: 14px;
  text-transform: uppercase;
  color: #676767;
  margin-bottom: 3px;
} 
.shopping-bag-grid .table-row .col-5 span {
  font-size: 12px;
  color: #a0a0a0;
}
.shopping-bag-grid .row-subtotal {
  height: 60px;
  background-color: #f9f9f9;
  margin-top: 5px;
}
.shopping-bag-grid .row-subtotal .col-9-offset p {
  color: #737373;
  font-size: 14px;
  text-transform: capitalize;
  display: inline-block;
}
.shopping-bag-grid .row-subtotal .col-9-offset span {
  padding-left: 20px;
  color: #f79a5d;
}
.euro-currency:before {
  content: "\20AC";
}

.shopping-bag-grid .table-row > .col-1 , .shopping-bag-grid .row > .col-1{
  padding-left: 5px;
}
.shopping-bag-grid button {
  background: url("../images/delete.png") no-repeat center;
  background-repeat: no-repeat;
  font-size: 0;
  height: 50px;
  width: 50px;
  border-color: transparent;
}